* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  /* height: 100%;
  width: 100%; */
}

nav {
  background-color: transparent;
  width: 100%;
  height: 80px;
  padding: 2vw 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 199;
}

nav img {
  height: 20px;
  width: 40px;
  cursor: pointer;
}

nav .btn-grp {
  display: flex;
  align-items: center;
  gap: 15px;
}

nav .btn-grp button {
  border-radius: 20px;
  padding: 6px 18px;
  cursor: pointer;
  color: white;
  background-color: #434b34;
  font-family: "DM Sans";
  font-size: 16px;
}

nav .btn-grp button:nth-child(1) {
  background-color: transparent;
  color: rgb(91, 102, 71);
  border: 1px solid #434b34;
  outline: none;
}

nav .btn-grp button:nth-child(1):hover {
  background-color: #829e4fa2;
  border: none;
}

/* Header style */
header {
  width: 100%;
  height: 100vh;
  /* background-color: #434b34; */
  z-index: 10;
  position: relative;
}

.img-box {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.img-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.u-icon {
  width: fit-content;
  height: 3vw;
  fill: #434b34;
  position: absolute;
  top: 2.5vh;
  left: 45%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* page1 style */
#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #65714f;
  position: relative;
}

#page1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#page1 .h1-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#page1 .h1-box h1 {
  font-size: 4.5vw;
  line-height: 4.8vw;
  text-align: center;
  color: #434b34;
  font-weight: 500;
  font-family: PP Woodland;
}

/* Page 2 style */

#page2 {
  /* height: 110vh; */
  width: 100%;
  background-color: #f7f7ee;
  padding: 5vw 8vw;
  /* border-bottom: 1px solid black; */
}

#page2 #page2-content {
  height: 100%;
  width: 100%;
  /* background-color: brown; */
}

#page2 h1 {
  color: #e3e3c4;
  font-size: 4.5vw;
  line-height: 4.8vw;
  text-align: center;
  font-weight: 500;
  font-family: PP Woodland;
}

#page2-content .img-content {
  height: 80%;
  width: 100%;
  margin-top: 8vw;
  /* background-color: blue; */
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
}

#page2-content .img-content .left {
  width: 43%;
  height: 100%;
  /* background-color: #65714f; */
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.img-content .left p {
  color: #7c7f71;
  width: 65%;
  font-family: "DM Sans";
  font-size: 1.1vw;
  line-height: 1.4vw;
}

.img-content .left h3 {
  font-family: "DM Sans";
  color: #434b34;
  font-size: 26px;
  font-weight: 400;
  opacity: 0.9;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.img-content .left h3 img {
  background-color: #434b34;
  padding: 8px 20px;
  width: 4vw;
  border-radius: 20px;
}

#page2-content .img-content .left .room-img-left {
  height: 60%;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.img-content .left .room-img-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#page2 .img-content .right {
  height: 100%;
  width: 55%;
  /* background-color: rgb(66, 81, 245); */
}

.img-content .right .room-right-img {
  height: 50%;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.img-content .right .room-right-img-btm img {
  height: 20vw;
  width: 45%;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 20px;
}

.room-right-img,
.room-right-img-btm img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Page 3 */
#page3 {
  height: fit-content;
  width: 100%;
  background-color: #f7f7ee;
  padding: 5vw 4vw;
}

#room-types {
  height: 100%;
  width: 100%;
}

#room-types .rooms {
  width: 100%;
  height: 12vw;
  border: 0.1px solid #adbe8d;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
  transition: all ease 0.4s;
}

#room-types .rooms:hover {
  background-color: #5b6647;
}
#room-types .rooms:hover .room-img {
  width: 50%;
  /* display: block; */
}

#room-types .rooms:hover h3 {
  color: #e3e3c4;
}

#room-types .rooms:hover p {
  color: #e3e3c4;
}

#room-types .rooms:nth-child(1) {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-top: 0.1px solid #adbe8d;
}

#room-types .rooms:nth-last-child(1) {
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom: 0.1px solid #adbe8d;
}

#room-types .rooms .left {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  /* background-color: #03364f; */
}

.rooms .left .room-img {
  height: 100%;
  width: 0%;
  overflow: hidden;
  transition: all ease-out 0.4s;
  /* display: none; */
}

.rooms .left .room-img img {
  height: 100%;
  width: 100%;
  /* object-fit: ; */
  /* object-position: center; */
}

.rooms .left .room-dtl {
  width: 100%;
  height: 100%;
  /* background-color: aquamarine; */
  display: flex;
  padding: 2vw;

  flex-direction: column;
  justify-content: center;
}

.rooms .left .room-dtl h3 {
  font-family: PP Woodland;
  font-size: 2.5vw;
  font-weight: 500;
  padding-bottom: 1.2vw;
  color: #5b6647;
}

.rooms .left .room-dtl p {
  font-family: Dm sans;
  font-size: 1.1vw;
  font-weight: 400;
  color: #5b6647;
  /* background-color: red; */
  width: 50%;
}

#room-types .rooms .right {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

#room-types .rooms .right h6 {
  font-family: Dm sans;
  font-size: 1.1vw;
  font-weight: 400;
  padding: 4px 18px;
  color: #e3e3c4;
  border-radius: 16px;
  background-color: #5b6647;
}

#room-types .rooms:hover h6 {
  color: #5b6647;
  background-color: #e3e3c4;
}

/* Page 4 style */

#page4 {
  width: 100%;
  height: 100vh;
  padding: 2vw 4vw;
  background-color: #f7f7ee;
}
#page4 #page4-content {
  height: 100%;
  width: 100%;

  overflow: hidden;
  border-radius: 24px;
  /* background: url(./Assets/Page-4-ALH_Odisej_Rosemary_suite.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}
#page4 #page4-content img {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
  object-position: center;
}
#page4 .cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: rgb(255, 29, 29);
}

/* Footer style */
footer {
  height: 60vh;
  width: 100%;
  background-color: #03364f;
  color: #e3e3c4;
  position: relative;
  border-top: 5px solid black;
}

footer .f-bg-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer .f-bg-svg img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  /* z-index: 4; */
}

.f-content {
  position: absolute;
  height: 100vh;
  width: 100%;
  padding: 5vw;
}

.f-content .f-top {
  height: 20%;
  width: 100%;
  /* background-color: bisque; */
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.f-top img:nth-child(2) {
  height: 60px;
}

.f-content .f-center {
  height: calc(100% - 20% - 10%);
  width: 100%;
  /* background-color: green; */
}

.f-content .f-center h5 {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.f-center .f-center-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(22, 30, 50);
  height: 30%;
}

.f-center .f-center-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(22, 30, 50);
  height: 30%;
}

.f-content .f-bottom {
  height: 10%;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "DM Sans";
}
